<head>
  <title>Cafeteria</title>
  <link rel="stylesheet" href="css/mainPanel.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
</head>
<body id="body">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cafeteria Ordering</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{user.name}}<span class="caret"></span></a></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
          </ul>
        </li>

        <li><a data-toggle="modal" data-target="#addDishPanel">Add Dish</a></li>
        <li><a href="/adminLogout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="text-center" id="title">Cafeteria Admin Panel</h1><br>
  <hr>

  <div class="row" id="mainPanel">
    <div class="col-sm-4" id="selectData" style="position:fixed;height:100%;">
      <label for="">Category</label>
      <select name="category" class="form-control" id="category" style="width:60%;font-family:'Slabo 27px', serif">
        <option value="all">All</option>
        <option value="Starters">Starters</option>
        <option value="Lunch">Lunch</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Dinner">Dinner</option>
      </select><br>
      <input type="text" name="dishSearch" id="dishSearch"  class="form-control" placeholder="Search Dish">

    </div>

    <div class="col-sm-8" style="margin-left:35%">
      <div class="row text-center" style="font-weight:bold">
        <div class="col-sm-4">
          <p>Name</p>
        </div>
        <div class="col-sm-4">
          <p>Price</p>
        </div>
      </div>
        {{#each data}}
        <div id="dishData" class="row text-center dishData {{course}}">
          <div class="col-sm-4" id="nameData">
            <p class="nameData">{{dishName}}</p>

          </div>
          <div class="col-sm-4" id="priceData">
            <p>₹ {{price}}</p>
          </div>
          <div class="col-sm-4">
            <button type="button" value="{{dishName}}" data-value={{price}} class="btn btn-default edit" data-toggle="modal"
            data-target="#editPanel" name="button">Edit</button>
            <button type="button" value="{{dishName}}" data-value={{price}} class="btn btn-default delete"  name="button">Delete</button>
          </div>
        </div>
        {{/each}}

        <!-- edit dish -->
      <div class="modal fade" id="editPanel" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit</h4>
        </div>
        <div class="modal-body">
          <form id="search_form" action="/editDish" method="post">
            <label>Name</label>
            <input type="text" class="form-control" name="dishEdit" id="editDish" placeholder="Name" readonly><br>
            <label>Price</label>
            <input type="text" class="form-control" name="priceEdit" id="editPrice" placeholder="Price"><br>
            <button type="submit" name="button" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </form>
        </div>

      </div>

    </div>
  </div>


  <!-- add dish -->

  <div class="modal fade" id="addDishPanel" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Dish</h4>
    </div>
    <div class="modal-body">
      <form method="post" action="/recepieAdded">
        <!-- <div>
          {{#if data}}
            <div class="alert alert-danger">{{data}}</div>
          {{/if}}
        </div> -->
          <label>Dish Name</label><br>
          <input type="text" class="form-control" name="name" placeholder="Enter the dish name" autofocus required><br>
          <label>Price</label><br>
          <input type="text" class="form-control "name="price" placeholder="Enter the price" required><br>
          <label>Select Category</label>
          <select class="form-control" id="variety" name="category">
             <option value="none">None</option>
             <option value="Starters">Starters</option>
             <option value="Lunch">Lunch</option>
             <option value="Dinner">Dinner</option>
          </select><br><br>
          <button id ="register" class="btn btn-default">Submit Recepie</button>
      </form>
    </div>

  </div>

</div>
</div>




      </div>

  </div>


<script type="text/javascript" src="js/adminPanel.js"></script>
</body>
