<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta http-equiv="refresh" content="5" />
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">


      <div class="row">
        <div class="col-sm-6">

          <h1>New Orders</h1>

        {{#each docs}}
        {{#if_eq status 'uncomplete'}}
        <div class="row {{status}}" style="border:1px solid gray;margin-right:10px;margin-top:10px">
          <p>Order No:{{id}}</p>
          <div class="col-sm-4">
            {{#each items}}
              <p>{{this}}</p>
            {{/each}}
        </div>
        <div class="col-sm-4">
              {{#each quantity}}
                <p>{{this}}</p>
              {{/each}}
          </div>
          <div class="col-sm-4">
            <button type="button"  class="btn btn-success orderComplete" name="button" value="{{id}}">Complete</button>
          </div>
        </div>

        {{/if_eq}}
        {{/each}}

      </div>



      <div class="col-sm-6">
        <h1>Orders Completed</h1>
        <div class="row">
          {{#each docs}}
          {{#if_eq status "complete"}}
          <div class="row {{status}}" style="border:1px solid gray;margin-left:10px;margin-top:10px;">
            <p>Order No:{{id}}</p>
            <div class="col-sm-4">
              {{#each items}}
                <p>{{this}}</p>
              {{/each}}
          </div>
          <div class="col-sm-4">
                {{#each quantity}}
                  <p>{{this}}</p>
                {{/each}}
            </div>
            <div class="col-sm-4">
              <button type="button"  class="btn btn-success removeOrder" name="button" value="{{id}}">remove</button>
            </div>
          </div>
          {{/if_eq}}
          {{/each}}

        </div>
      </div>

    </div>
    <script type="text/javascript" src="js/employeePanel.js">

    </script>
  </body>
</html>
